@media only screen and (max-width: 500px) {
	html, body{
		background-color: #EFEFEF;
		font-family: 'Lato', sans-serif;
		height: 100%;
		margin: 0;
	    padding: 0;
	}

	.content {
		margin: 20% auto;
		text-align: center;
	}

	a{
		text-decoration: none;
		color: #FFF;
	}

	.header{
		background-color: #008587;
		color: #FFF;
		height:45px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		padding-top:5px;
	}

	.header img{
		height: 35px;
		width: auto;
	}

	.header .header-item{
		display: inline-block;
		vertical-align: middle;		
		margin: 0 2%;
		min-width: 30px;
	}

	.footer{
		background-color: #008587;
		color: #FFF;
		height:75px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
		padding-top:5px;
	}

	.footer img{
		height: 50px;
		width: auto;
	}

	.footer .footer-big img{
		height: 70px;
		width: auto;
	}

	.footer .footer-item{
		display: inline-block;
		vertical-align: middle;		
		margin: 0 4%;
		min-width: 30px;
	}

	.footer .map-text{
		width: 70%;
	}

	.footer .map-logo img{
		height:50px;
	}

	/*startscreen*/
	#startscreen{
		background-color: #008587;
		color: #FFF;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	#startscreen img{
		margin-top: 30px;
		width: 150px;
	}

	/*menu1*/
	#menu1 .menu-icons{
		display: inline-block;
		height: 100px;
		margin: 20px 0;
	}

	/*menu2*/
	#menu2 .menu2-icons{
		display: inline-block;
		height: 75px;
		margin: 2%;
	}

	/*map*/
	#map {
		height: 80%;
		top: 50px;
		left: 0;
		right:0;
	}

	/*chat*/
	.chat-avatar{
		width: 20%;
		display: inline-block;
	}

	.chat-bubble{
		width: 75%;
		height: 80px;
		display: inline-block;
	}

	#chat-text{
		width: 65%;
		border-top: 1px dashed #FFF;
		border-bottom: 1px dashed #FFF;
		padding: 18px 0;
		margin-top:8px;
	}

	#chat-send{
		background-color: rgba(255,255,255,0.4);
		padding: 5px;
		border-radius: 5px;
	}

	/*contacts*/
	.contact-field{
		color: #000;
		margin: 10px 0;
	}

	.contact-attr{
		display: inline-block;
		vertical-align: middle;
		text-align: left;
	}

	img.contact-attr{
		height:90px;
		margin-right:4%;
	}

	.contact-attr .tel-number{
		color: #008587;
	}

	#contact-text{
		width: 50%;
		border: 1px solid #FFF;
		border-radius: 5px;
		padding: 10px 0;
		margin-top:20px;
	}

	#contact-search{
		background-color: rgba(255,255,255,0.4);
		padding: 5px;
		border-radius: 5px;
		margin-top:20px;
	}
}



