body{
	background-color: #EFEFEF;
	font-family: 'Lato', sans-serif;
}

.content {
	margin: 50px auto;
	width: 90%;
}

/*startscreen*/
#startscreen{
	background-color: #008587;
	color: #FFF;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#startscreen img{
	width: 150px;
}

/*menu1*/
#menu1{
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#menu1 .menu-icons{
	display: block;
	height: 150px;
	margin: 25px;
}